.section {}

.section__header {
    color: #2c2c2f;
    background-color: hsl(39, 100%, 68%);
    border: 5px solid hsl(39, 100%, 68%);
    border-radius: 5px;
    min-width: 300px;
    padding: 10px;
    font-size: 25px;
    text-align: center;
    text-shadow: 2px 2px 5px beige;
}

.section__background {
    color: #000000;
    background-color: hsla(0, 0%, 96%, 1);
    border: 5px solid hsla(0, 0%, 96%, 1);
    border-radius: 5px;
    min-width: 300px;
    padding: 20px;
    margin-top: 20px;
    line-height: 1.5;
}

.section__image {
    border-radius: 5px;
    box-shadow: 3px 3px 6px 2px #ADACAF;
    ;
}

.section__news {
    line-height: 1.5;
}

.section--bold {
    font-weight: bold;
    font-size: 20px;
}